name: Linter

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  check:
    name: Foundry project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
            node-version: '16.x'

      - name: Install Dependencies
        run: npm install

      - name: Run linter/formatting checks
        run: npm run solhint
